body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  background-image: url("bg.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px) contrast(0.8) grayscale(0.2);
}
.card {
  background-color: #6c6e70d8;
  border: 1px solid #bababb;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 600px;
  height: 500px;
  overflow-y: auto;
  gap: 20px;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.name {
  font-size: 16px;
  color: white;
}
.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.article {
  display: flex;
  flex-direction: column;
}
.article p {
  color: white;
  font-size: 16px;
  padding: 15px;
  margin: 0;
}
.article-img {
  padding: 10px;
  width: 95%;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}
.action-icons {
  display: flex;
  margin-left: 10px;
  gap: 5px;
}
.action-icons button {
  background: none;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.card::-webkit-scrollbar {
  width: 8px;
}
.card::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
  margin: 17px;
}
.card::-webkit-scrollbar-thumb {
  background: #bababb;
  border-radius: 10px;
}
